<nav class = "navbar  bg-light">
    <div class = "container-fluid">
        <a class="nav-link" href="#">
            <img [src] = "quipuxLogo" width="157.94" height="28.09" [alt]= "altQuipuxLogo">
        </a>
        <div class="ms-auto d-flex flex-row">
            <a class = "nav-link" href= "#">
                <span class = "nav-item">{{ personName }}</span>
                <img [src] = "personImage" width="29" height="29" 
                    class="mx-3 rounded-circle align-top" [alt] = "altPersonImage"/>
            </a>
        </div>
    </div>
</nav>